body {
  background-color: rgb(7, 1, 75);
  font-family: 'Press Start 2P', cursive;
}

h1 {
  text-align: center;
  color: white;
}

#array-btn {
  font-size: 100%;
  padding: 0.25rem 0.5rem;
  color: turquoise;
  border: 1px solid turquoise;
  background-color: rgb(12, 8, 59);
  margin-right: 3rem;
  margin-left: 4rem;
  cursor: pointer;
  box-shadow: 10px 10px black;
  font-family: 'Press Start 2P', cursive;
}

#array-btn:active {
  transform: scale(0.9);
  box-shadow: 9px 9px black;
}

.sort-btn {
  font-size: 100%;
  padding: 0.25rem 0.5rem;
  margin: auto 0.5rem;
  color: rgb(96, 96, 233);
  border: 1px solid rgb(96, 96, 233);
  background-color: rgb(12, 8, 59);
  box-shadow: 10px 10px black;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

.sort-btn:active {
  transform: scale(0.9);
  box-shadow: 9px 9px black;
}
#sorting-bars {
  padding: 2rem 0.5rem 0 2rem;
  width: 85vw;
  border: yellow 2px solid;
  margin: 3rem auto;
  text-align: center;
  height: 60vh;
}

.bar {
  display: inline-block;
  border: 0.1px solid rgb(7, 1, 75);
  border-bottom: none;
  background-color: yellow;
}

.sliders {
  text-align: center;
}

input[type='range'] {
  vertical-align: middle;
  height: 1rem;
  background-color: rgb(12, 8, 59);
  border: 2px solid turquoise;
  appearance: none;
  border-radius: 0;
  width: 20rem;
}

input[type='range']::-webkit-slider-thumb {
  border: 1px solid turquoise;
  background: turquoise;
  width: 1rem;
  height: 2rem;
  cursor: pointer;
  appearance: none;
  box-shadow: 5px 5px #000000;
}

label {
  color: turquoise;
}

#bar-no-value,
#time-value {
  vertical-align: middle;
  font-size: 110%;
  color: yellow;
}

#label-time {
  margin-left: 4rem;
}
